.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Code/.DS_Store
.DS_Store
Code/.DS_Store
.DS_Store
Data/.DS_Store
.DS_Store
.DS_Store
Data/Final Dataset/final_dataset_pta_env_indices_compressed.fst
Data/Final Dataset/final_dataset_pta_env_indices_compressed.dta
